body{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    background: white;
    color: #581b98;
}
.container{
    width: 90%;
    max-width: 960px;
    margin: 50px auto;
    border-radius: 20px;
    box-shadow: 2px 4px 6px rgba(28, 6, 49, 0.1);
    background: #faee1c; 
    /* #9c1de7 #581b98 */
}
.error{
    color: red;
    font-size: 14px;
}
button{
    text-decoration: none;
    background: #9c1de7;
    color: white;
    font-weight: bold;
    border: 0;
    border-radius: 20px;
    padding: 10px 20px;
    font-size: 16px;
}